<template>
    <div class="addItem">
        <input type="text" @keyup.lazy.enter="addItem" v-model="item.name"/>
        <font-awesome-icon
            icon="plus-square"
            @click="addItem()"
            :class="[ item.name ? 'active' : 'inactive', 'plus']"
        />
    </div>
</template>

<script>
export default {
    data() {
        return {
            item: {
                name:""
            }
        }
    },
    methods: {

         addItem() {
             if ( this.item.name === '') {
                 return;
             }

             axios.post('api/item/store',{
                  item: this.item
             })
             .then( response => {
                 if( response.status == 201) {
                     this.item.name = ''
                     this.$emit('reloadlist')
                     this.$toaster.success('Item added successfully')
                 }
             })
             .catch( error => {
                 console.log( error );
             })
         }
    }
}
</script>

<style scoped>
    .addItem{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input{
        background: whitesmoke;
        border: 0;
        outline: none;
        padding: 5px;
        margin-right: 10px;
        width: 100%;
    }
    .plus{
       font-size: 20px;
    }
    .active{
        color: #00CE25;
    }
    .inactive{
        color: grey;
    }
</style>
